<div class="logo">
  <h1><%= link_to 'Chalkable Attendance', root_path %></h1>
</div>
<a href="#" class="hamburger"></a>
<nav>
  <ul class="mainNav">
    <li><%= link_to 'Home', root_path %></li>
    <li><a href="#" class="lg">Login</a></li>
    <li><%= link_to 'Sign up', new_user_registration_path, class: 'btn-signup' %></li>
  </ul>
</nav>

