
<section data-type="settings">
  <div class="settings-navigation container">

    <p class="submit-case-note">Hello.</p>
    <%= link_to 'Add a class', new_section_path(@section), class: 'sign-btn submit-case' %>

  </div>
</section>


