
<section id="tagline">
  <div class="wrap">
    <div class="taglineMessage">
      <h1>Hello.</h1>
      <% if current_user.sections.length == 0  %>
          <h1> Add a class.</h1>
          <p class="hello"></p>
          <%= link_to 'Add a class', new_section_path(@section), class: 'btnBig' %>
      <% else %>
          <p class="hello"></p>
          <%= link_to 'My Classes', sections_path, class: 'btnBig' %>
      <% end %>
    </div>
  </div>
</section>