<h1>Classes</h1>
<% current_user.sections.each do |section| %>
    <p><i class="fa fa-beer"><%= link_to section.name, section_path(section.id) %></i></p>
    <p class=""><%= section.description %></p>
    <p class=""><%= section.student_count %></p>
<% end %>