
<div class="" >
  <h1><%= @section.name  %></h1>
  <blockquote> - posted by <%= @section.description  %></blockquote>
  <br>
  <a  class="btn btn-hg btn-primary btn-inverse"><%= @section.student_count  %></a>
</div>