// colors

$main-text: #757575; // main text
$main-title: #424242;
$main-nav: #585858;
$a: #424242; // anchor tags
$b-color: #fff; // background color
$light-blue: #3a6d9d;
$dark-blue: #39424b;
$light-gray: #f7f8f8;
$dark-gray: #efeeea;
$settings-label: #ededed;
$settings-label-border: #bfbfbf;

$mainText: #7b7974;
$blue: #2f7790;
$darkGrey: #56554f;

$sans: 'Open Sans', sans-serif;

// fonts 

$lato: 'Lato', sans-serif;

$base-font: 'Lato', sans-serif; //'PT Sans', sans-serif;
$base-narrow-font: 'PT Sans Narrow', sans-serif;