//= depend_on_asset "hamburger.svg"
//= depend_on_asset "homepage-bg.jpg"
//= depend_on_asset "homepage-clock.svg"
//= depend_on_asset "homepage-percentage.svg"
//= depend_on_asset "x.png"
//= depend_on_asset "x@2x.png"
//= depend_on_asset "arrows-select.svg"
//= depend_on_asset "arrow.svg"
//= depend_on_asset "loader.gif"


@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins'; // custom mixins
@import 'partials/placeholders'; // clearfix, centering elements etc...
@import 'partials/layout'; // responsive grid (susy) and media queries


@import "header_nav.css.scss";

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
$brand-info:            #033C73;


.is-visible {
  display: block !important;
}

.sign-btn {
  text-align: center;
  display: block;
  width: 150px;
  margin: 20px auto 0 auto;
  padding: 0.8em 0;
  background-color: $brand-info;
  color: #FFF;
  @include border-radius(30px);
  @include font-size(20px);
  font-family: $base-font;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: lighten($dark-blue, 5%);
  }

  @include MQ(M) {
    @include font-size(23px);
    width: 180px;
    margin-top: 50px;
  }

  @include MQ(L) {
    @include font-size(25px);
    @include border-radius(30px);
    width: 220px;
    margin-top: 70px;
  }
}

.is-login-open {
  height: 100%;
  overflow: hidden;
}

/* --------------------------------

Main components

-------------------------------- */

/******* home page ********/



//intro section

#intro {
  // position: absolute;
  background: url(asset_path('bg_img_l.jpg')) no-repeat center center;
  background-size: cover;
  height: 400px;
  position: relative;


  .caption {
    position: absolute;
    @extend %center;
    max-width: $M;
  }

  h2 {
    color: #FFF;
    background-color: rgba(#000, .9);
    padding: 15px 15px;
    line-height: 1.5;
    text-align: center;
  }

  a {
    text-align: center;
    display: inline-block;
    position: absolute;
    @extend %center-x;
    width: 200px;
    margin: 10px auto 0 auto;
    padding: 1.5em;
    background-color: rgba($light-blue, .9);
    @include border-radius(30px);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    @include box-shadow(inset 0 1px 0 rgba(#FFF, .4), 0 2px 9px rgba(#000, .1));

    &:hover {
      background-color: lighten(rgba($light-blue, .9), 5%);
      // background-color: red;
    }
  }

  @include MQ(XS) {
    height: 450px;
  }

  @include MQ(S) {
    height: 500px;

    h2 {
      @include font-size(20px);
    }
  }

  @include MQ(M) {
    height: 600px;

    h2 {
      @include font-size(30px);
    }

    a {
      @include font-size(17px);
    }
  }

  @include MQ(L) {
    height: 700px;

    h2 {
      @include font-size(35px);
    }

    a {
      @include font-size(18px);
      @include border-radius(50px);
      width: 225px;
      padding: 30px 45px;
      margin-top: 20px;
    }
  }
}

//services

#services, #how-it-works {
  padding: 40px 0 40px 0;

  @include MQ(M) {
    padding: 50px 0 60px 0;
  }

  @include MQ(L) {
    padding: 80px 0 90px 0;
  }
}

#services {
  background-color: $dark-gray;
  // padding: 40px 0 40px 0;

  .container {
    text-align: center;

    div {
      padding-bottom: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }

    div:first-child h3 {
      background: url(asset_path('homepage-clock.svg')) no-repeat left center;
      @include background-size(50px 34px);
    }

    div:last-child {
      padding-bottom: 20px;

      h3 {
        background: url(asset_path('homepage-percentage.svg')) no-repeat left center;
        @include background-size(50px 34px);
        padding: 10px  0 10px 60px;
      }
    }
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
    color: $main-title;
    @include font-size(25px);
    padding: 10px  0 10px 50px;
    margin: 0 auto;
    text-align: center;
    // @include background-size(50px 34px);
  }

  // p {
  // 	padding: 10px 0 0 0;
  // 	@include font-size(14px);
  // 	font-family: $base-font;
  // 	color: $main-text;
  // 	line-height: 1.5;
  // }

  @include MQ(S) {
    // padding: 50px 0 60px 0;

    .container div {
      padding-left: 30px;
      padding-right: 30px;
    }

    h3 {
      @include font-size(25px);
    }
  }

  @include MQ(M) {
    // padding: 50px 0 60px 0;

    .container div {
      @include column(0.48);
      margin: 0 1%;
      padding-bottom: 0;

      &:first-child h3, &:last-child h3 {
        // background: inline-image('homepage-clock.svg') no-repeat left center;
        @include background-size(64px 37px);
        padding: 10px  0 10px 60px;
      }

      &:last-child h3 {
        padding: 10px  0 10px 80px;
      }
    }

    h3 {
      @include font-size(40px);
    }

    // p {
    // 	@include font-size(16px);
    // }

  }

  @include MQ(L) {
    // padding: 80px 0 90px 0;
    .container {
      max-width: $L;

      div {
        padding: 0 50px;
      }

      div:first-child h3, div:last-child h3 {
        @include background-size(86px 50px);
        padding: 10px  0 10px 80px;
      }

      div:last-child h3 {
        padding: 10px  0 10px 100px;
      }
    }

    h3 {
      @include font-size(45px);
    }
  }
}

//how it works

#how-it-works {

  .step-wrap {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 15px;
  }

  .step {
    background-color: $light-blue;
    height: 75px;
    width: 75px;
    @include border-radius(50%);
    text-align: center;
    line-height: 75px;
    @include font-size(25px);
    font-family: $base-font;
    font-weight: 700;
    color: #FFF;
    display: inline-block;
    margin-bottom: 20px;
  }

  p {
    padding-top: 0;
  }

  @include MQ(S) {
    .step-wrap {
      padding: 0 30px;
    }
  }

  @include MQ(M) {
    .step-wrap {
      @include column(.30);
      padding: 0;
      margin-right: 4%;
    }

    .step-wrap:last-child {
      margin-right: 0;
    }

    .step {
      // background-color: $light-blue;
      height: 100px;
      width: 100px;
      line-height: 100px;
      @include font-size(35px);
      margin-bottom: 30px;
    }
  }
}

//footer

footer {
  border-top: 1px solid $dark-gray;
  padding: 10px 0 15px 0;

  .container {
    text-align: center;
  }

  li, p {
    @include font-size(13px);
    color: $main-text;
    font-weight: 300;
    font-family: $base-font;
    margin: 10px auto;
  }

  @include MQ(S) {
    padding: 10px 0 20px 0;

    li {
      display: inline-block;
      margin-right: 20px;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

//login

li a {
  &:focus{
    outline: none;
    border: none;
  }
}

#login {
  display: none;
  position: absolute;
  z-index: 20 !important;
  min-height: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(#000, .9);

  &.showme{
    display: block;
  }

  .loginContainer {
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    // top: 50px;
    left: 50%;
    top: 5%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    @include translateX(-50%);
    .header {
      background: #FFF;
      border-radius: 4px 4px 0 0;
      padding: 1em 2.5em 1.5em 2.5em;
      text-align: center;
      @include box-shadow(0 1px 0 #d7d7d7);
      h1 {
        @include font-size(30px);
        font-family: $base-narrow-font;
        // font-size: 1.125em;
        font-weight: 400;
        // text-transform: uppercase;
      }
      .close {
        width: 25px;
        height: 25px;
        display: inline-block;
        background: url(asset_path('x.png')) no-repeat;
        position: absolute;
        right: 15px;
        top: 18px;
        cursor: pointer;
        @include retina('x@2x.png');
        @include background-size(25px 25px);
      }
    }
    form {
      max-width: 350px;
      margin: 0 auto 1em auto;
      p {
        margin: 1em 0;
      }
      label {
        display: block;
        // font-size: .8125em;
        @include font-size(14px);
        font-family: $base-font;
        margin-bottom: .5em;
        text-align: left;
        text-transform: uppercase;
      }
      input {
        width: 100%;
        border: 1px solid #c8c7c3;
        padding: .6em 1em;
        border-radius: 4px;
        font-size: 1em;
        @include box-shadow(inset 0 1px 3px rgba(black, .1));
        &:focus {
          outline: none;
          border-color: lighten(#000, 60%);
          @include box-shadow(0 0 3px rgba(#000, .5));
        }
      }
      input[type='submit'] {
        background-color: $light-blue;
        // background: #000;
        // @include background(linear-gradient(top, #568ea8, #2e657c));
        // border: 1px solid #29596e;
        border-radius: 4px;
        padding: 1em;
        // @include box-shadow(inset 0 1px 0 rgba(white, .3), 0 1px 3px rgba(black, .1));
        color: white;
        letter-spacing: .1em;
        @include font-size(16px);
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: lighten($light-blue, 5%);
        }
      }
      p.forgotPassword {
        @include font-size(14px);
        font-family: $base-font;
        font-weight: 400;
        text-align: left;

        a {
          text-decoration: underline;
        }
      }
      p.stay-logged-in {
        input {
          width: auto;
        }

        label {
          display: inline-block;
        }
      }
    }
    footer {
      border-top: 1px solid #d7d7d7;
      padding: 1em;
      p {
        font-size: .8125em;
        line-height: 1.4;
      }
    }
    &.hide {
      display: none;
    }
  }
  &.openLogin {
    display: block;
  }

  @include MQ(M) {
    .loginContainer {
      top: 50px;
    }
  }
}

/* How it works page*/

.page-title {
  background-color: $light-blue;
  color: #FFF;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  @include font-size(20px);
  font-family: $base-narrow-font;

  @include MQ(S) {
    @include font-size(25px);
    padding: 30px 0;
  }

  @include MQ(M) {
    @include font-size(30px);
    padding: 40px 0;
  }

  @include MQ(L) {
    @include font-size(35px);
    padding: 50px 0;
  }
}

#main {
  max-width: $L;
  padding: 30px 0;

  h2 {
    font-family: $base-font;
    font-weight: 700;
    // @include
  }

  p {
    margin: 20px 0 30px 0;
    padding: 0;
  }

  @include MQ(S) {
    padding: 35px 0;

    h2 {
      @include font-size(21px);
    }

    p {
      margin: 20px 0 35px 0;
    }
  }

  @include MQ(M) {
    padding: 40px 0;

    h2 {
      @include font-size(25px);
    }

    p {
      margin: 25px 0 40px 0;
    }
  }

  @include MQ(L) {
    padding: 50px 0;

    h2 {
      @include font-size(27px);
    }

    p {
      margin: 35px 0 50px 0;
    }
  }
}

.not-footer-stick {
  margin: 10px auto 40px auto;

  @include MQ(S) {
    margin: 10px auto 50px auto;
  }

  @include MQ(M) {
    margin: 10px auto 60px auto;
  }

  @include MQ(L) {
    margin: 15px auto 70px auto;
  }
}

//about us

#about-us {
  padding: 30px 0 10px 0;

  div {
    font-family: $base-font;
    @include font-size(16px);
    color: $main-text;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .container div:nth-child(2) a {
    display: block;
    height: 140px;
    @include background-size(82px 135px);
  }

  h2 {
    font-family: $base-font;
    @include font-size(20px);
    font-weight: bold;
    margin-bottom: 20px;
  }

  address a {
    color: $main-text;
    @include font-size(16px);
    line-height: 1.4;
  }

  @include MQ(S) {
    padding: 35px 0 20px 0;

    .container div:nth-child(2) a {
      height: 200px;
      @include background-size(110px 178px);
    }

    h2 {
      margin-top: 30px;
    }
  }

  @include MQ(M) {
    padding: 40px 0 30px 0;

    div, address a {
      @include font-size(18px);
    }

    .container {

      div {
        display: inline-block;
        margin-bottom: 0;
      }

      div:first-child, div:nth-child(3) {
        @include column(.38);
      }

      div:nth-child(2) {
        @include column(.2);

        a {
          width: 100%;
          height: 180px;
        }
      }

      div:first-child, div:nth-child(2) {
        margin-right: 2%;
      }

    }

    h2 {
      margin-top: 0;
    }


  }

  @include MQ(L) {
    padding: 50px 0 60px 0;

    h2 {
      @include font-size(27px);
      margin-bottom: 35px;
    }
  }
}

//*****settings page********//

header[data-type="settings"] {
  border-bottom: 1px solid darken($dark-gray, 5%);

  h1 {
    @include font-size(16px);
  }

  .container {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 0 auto;
  }

  .lock {
    display: inline-block;
    width: 20px;
    height: 50px;
    float: left;
    background: url(asswt_path('lock.svg')) no-repeat center center;
    @include background-size(20px 24px);
  }

  #navver a {
    text-transform: none;
    border-bottom: 1px solid $light-gray;
  }

  .btn-signup {
    @include border-radius(30px);
  }

  @include MQ(S) {
    h1 {
      @include font-size(18px);
    }
  }

  @include MQ(L) {
    .lock {
      width: 20px;
      height: 100px;
      float: left;
      background: url(asset_path('lock.svg')) no-repeat center center;
      @include background-size(20px 24px);
    }

    #navver a {
      border-bottom: none;
    }
  }
}

.sign-btn[data-type="settings"] {
  @include border-radius(4px);
  color: #FFF;
  margin-top: 25px;
  //padding: 17px 40px;
  @include font-size(16px);
  background-color: $light-blue;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: lighten($light-blue, 5%);
    color: #FFF;
  }
}


section[data-type="settings"] {
  padding: 15px 0 20px 0;

  .user-id {
    text-align: right;
    @include font-size(13px);
    font-family: $base-font;
  }

  .settings-navigation.container {
    margin: 15px auto;
    max-width: $S;
  }

  .best_in_place {
    //padding: .1m;
    cursor: pointer;
    @include border-radius(5px);
  }
  .best_in_place:hover {
    //padding-right: 1.5em;
    background-color: #CCC;
  }

  li {
    @include font-size(16px);
    border-bottom: 1px solid $light-gray;
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 13px 0;
  }

  li.active {
    font-weight: bold;
    color: $dark-blue;
  }

  form {
    margin: 50px auto 0 auto;
    // margin-top: 50px;
    // margin-right: 0;
    padding-right: 0;
    text-align: center;
    max-width: $XS;

    p {
      position: relative;
      // display: block;
      display: table;
      width: 100%;
      min-width: 100%;
      margin: 0 auto 15px auto;
      padding: 0;
    }

    p:last-child {
      margin: 0 auto;
    }
  }

  label {
    @include border-radius(4px 0 0 4px);
    font-weight: bold;
    @include font-size(12px);
    text-transform: uppercase;
    text-align: center;
    @include translateX(1px);
    background-color: $settings-label;
    // width: 28%;
    width: 40%;
    padding: 0 5px;

  }

  input, select, .customSelect {
    width: 100%;
    text-indent: 30px;
    @include border-radius(0 4px 4px 0);
    @include font-size(14px);
    font-weight: 300;
    color: $main-nav;
    padding: 0;
    &.error{
      border: 1px solid red;
      border-left: 1px solid red;
      margin-left: 1px;
    }
    &:focus {
      outline: none;
    }
  }

  p.error{
    position: absolute;
    bottom: 31%;
    left: 70%;
    font-size: 77%;
  }
  input {
    @include box-shadow(inset 0 1px 3px rgba(#000, .06));
  }

  label, input, select, .customSelect {
    font-family: $base-font;
    display: inline-block;
    height: 50px;
    border: 1px solid $settings-label-border;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
  }

  select {
    @include border-radius(0);

  }

  .customSelect {
    line-height: 50px;
    background: #f9f9f9 url(asset_path('arrows-select.svg')) no-repeat center center;
    @include background-size(7px, 16px);
    background: url(asset_path('arrows-select.svg')), linear-gradient(to bottom, #ffffff, #f4f4f4);
    background-repeat: no-repeat;
    background-position: 95% center;
    // @include background(to bottom, #ffffff, #f4f4f4);
    text-align: left;
    text-indent: 15px;

  }

  p[data-type="note"] {
    @include font-size(13px);
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: $base-font;
    @include font-size(14px);
    font-weight: bold;
    color: $main-text;
    margin: 15px auto 30px auto;
  }

  //sign up page
  form[data-type="signup"] {
    margin-top: 30px;
  }

  form abbr[title]{
    display: none;
  }

  .customSelectInner {
    width: 99% !important;
  }

  @include MQ(S) {

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      margin-left: 12px;
      margin-right: 12px;
      padding: 0 8px;
      border-bottom: none;
    }

    // li:first-child {
    // 	margin-left: 0;
    // }

    // li:last-child {
    // 	margin-right: 0;
    // }

    li.active {
      border-bottom: 2px solid $dark-blue;
    }

    .customSelect {
      background-position: 97% center;
    }

    form {
      margin-top: 80px;
    }

    label {
      @include font-size(14px);
    }
  }

  @include MQ(M) {
    padding: 20px 0 30px 0;

    li {
      margin-left: 15px;
      margin-right: 15px;
    }

    form[data-type="signup"] {
      margin-top: 40px;
    }
  }

  @include MQ(L) {
    form {
      margin-top: 80px;
    }
  }
}


//submit case

.submit-case {
  margin-bottom: 50px;

  @include MQ(M) {
    margin-bottom: 80px;
  }
}

p.submit-case-note {
  text-align: center;
  margin-top: 30px;

  @include font-size(14px);

  &::after {
    content: '';
    display: block;
    height: 42px;
    width: 13px;
    background: url(asset_path('arrow.svg')) no-repeat center center;
    @include background-size(13px 42px);
    margin: 40px auto;
  }

  @include MQ(S) {
    @include font-size(14px);
    margin-top: 55px;
  }

  @include MQ(M) {
    @include font-size(15px);
    margin-top: 80px;
  }

  @include MQ(L) {
    @include font-size(16px);
    margin-top: 100px;
  }
}

//upload new agreement
div[data-type="new-agreement"] {

  .sign-btn {
    @include font-size(16px);
    width:200px;
    padding: 1em 0;
    margin-top: 10px;
  }

  @include MQ(M) {
    .sign-btn {
      width:215px;
      @include font-size(18px);
      margin-top: 20px;
    }
  }

  @include MQ(L) {
    .sign-btn {
      width:230px;
      @include font-size(20px);
      margin-top: 30px;
    }
  }
}

section[data-type="settings"] .record-table {
  margin: 50px auto 0 auto;
  text-align: center;
  display: block;
  width: 90%;
  @extend %clearfix;
  overflow-x: auto;
  overflow-y: hidden;


  ul {
    display: inline-block;
    @extend %clearfix;
    // overflow-x: auto;
  }

  ul.container {
    max-width: 1000px;
    min-width: 750px;
    margin: -4px auto 0 auto;
  }

  ul.container:first-child {
    margin: 0 auto 0 auto;
  }

  li {
    padding: 15px 5px;
    margin: 0 -1px 0 0;
    @include font-size(14px);
    float: left;
    height: 50px;
    // min-width: 80px;
    background-color: $settings-label;
    border: 1px solid $settings-label-border;
    @include translateX(-1px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  li:first-child, li:nth-child(5) {
    width: 15%;
  }

  li:nth-child(2), li:nth-child(3) {
    width: 10%;
  }

  li:nth-child(4), li:nth-child(6) {
    width: 25%;
  }

  .item li {
    @include font-size(12px);
    background-color: #FFF;
    overflow: hidden;
  }

  a {
    padding: 0;
    color: $light-blue;
    border-bottom: 1px solid rgba($light-blue, .5);
    line-height: 18px;
    max-width: 70%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}


div#login[data-type="case-submition"] {

  .main, .let-us-know{
    text-align: center;
    margin: 10px 0 20px 0;

    a{
      color: $light-blue;
      text-decoration: underline;

      &:hover{
        color: $dark-blue;
      }
    }
  }

  .load{
    background: url(asset_path('loader.gif')) no-repeat no-repeat 8px 30px;
    padding: 30px;
  }

  .loginContainer {
    max-width: 900px;
  }

  .header {
    padding-top: 20px;

    .main {
      margin: 30px auto;
    }
  }

  .customSelect {
    width: 300px;
    max-width: 90%;
    @include border-radius(4px);
    @include font-size(14px);
    font-weight: 300;
    color: $main-nav;
    // padding: 0;
    padding: 0 0 0 15px;
    font-family: $base-font;
    height: 50px;
    border: 1px solid $settings-label-border;
    margin: 0;
    line-height: 50px;
    background: #f9f9f9 url(asset_path('arrows-select.svg')) no-repeat center center;
    @include background-size(7px, 16px);
    background: url(asset_path('arrows-select.svg')), linear-gradient(to bottom, #ffffff, #f4f4f4);
    background-repeat: no-repeat;
    background-position: 95% center;
    text-align: left;
    &:focus {
      outline: none;
    }
  }

  select {
    display: inline-block;
    // padding-left: 300px;
    width: 300px;
    // max-width: 300px;
  }

  .legal-acceptance {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    @include font-size(13px);
  }

  p {
    display: block;
    // width: 100%;
    margin: 30px auto;
    padding: 10px 0;
    background-color: #dc5454;
    text-align: center;
    color: #FFF;
    @include font-size(13px);
  }

  .sign-btn {
    margin-bottom: 35px;
  }

  @include MQ(M) {

    .legal-acceptance {
      padding: 40px 15px 0 15px;
      margin-bottom: 40px;
    }

    p {
      margin-top: 45px;
      padding: 10px 0;
    }
  }
}


//backend 1
section[data-type="settings"] .record-table[data-type="backend-1"] {

  #accounts-table, #signatures-table{
    max-width: 90% !important;
    margin: 25px auto;
  }
  li{
    width: 18%;

    a {
      border-bottom: none;
    }
  }

  li:first-child{
    width: 10%;
  }
}

//backend 2
section[data-type="settings"] .record-table[data-type="backend-2"] {

  li a {
    border-bottom: none;
  }

  li:first-child, li:nth-child(5) {
    width: 13%;
  }

  li:nth-child(3) {
    width: 8%;
  }

  li:nth-child(7) {
    width: 14%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  li:nth-child(4), li:nth-child(6) {
    width: 20%;
  }

  li:nth-child(2) {
    width: 10%;
  }
}

.user-details {

  p {
    @include font-size(13px);
  }

  a {
    @include font-size(13px);
    color: $light-blue;
    border-bottom: 1px solid rgba($light-blue, .5);
  }
}

input#submit-button[type="submit"], submit-button1, submit-button2 {
  border: none;
  font-weight: 700;
  // text-align: center;
  text-indent: 0;
  margin: 0 auto 40px auto;

  @include MQ(M) {
    margin-bottom: 50px;
  }

  @include MQ(L) {
    margin-bottom: 60px;
  }
}

input[type="submit"] {
  @extend %remove-appearance;
}

//remove x IE in input
input::-ms-clear {
  display: none;
}

//fix IE bug select element in modal
select[data-type="select-modal"] {
  @extend %center-x;
}