//@import "bootstrap";

@import '../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss';


.container{
  .row{
    h1{
      text-align: center;
    }
  }
}
.row{
  margin-top: 3em;
}

input[type="checkbox"]{
  margin-left: 0px !important;
}

.alert, .alert-danger{
  //position: absolute;
  //width: 100%;
  //z-index: 9;

  display: none;

  top: 135px;
  right: 20px;
  position: fixed;
  width: 310px;
  height: auto;
  margin: 0px;
  padding: 1em;
  list-style-type: none;
  z-index: 10000000;
}
#error_explanation {
  //@extend .alert;
  //@extend .alert-danger;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  li {
    display: block;
    text-align: left;
  }
}

.some-error{
  outline: 1px solid rgb(219, 154, 154);
  outline-offset: 1px;
}

#login-form {
  #error_explanation {
    display: none;
  }
}

