//= depend_on_asset "hamburger.svg"
//= depend_on_asset "homepage-bg.jpg"
//= depend_on_asset "homepage-clock.svg"
//= depend_on_asset "homepage-percentage.svg"
//= depend_on_asset "x.png"
//= depend_on_asset "x@2x.png"
//= depend_on_asset "arrows-select.svg"
//= depend_on_asset "arrow.svg"


@import 'compass';
@include global-reset; // compass style reset
@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins'; // custom mixins
@import 'partials/placeholders'; // clearfix, centering elements etc...
@import 'partials/layout'; // responsive grid (susy) and media queries
@import 'index';
@import "forms";


/* --------------------------------

Base rules

-------------------------------- */
html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

html, body {
  min-height: 100%;
  position: relative;
}

body {
  font: {
    size: 100%;
    family: $sans;
  }
  color: $mainText;
  background: #f7f7f5;
}

img,embed,object,video {
  max-width: 100%;
}

a {
  color: $blue;
}

%speed { // Force Hardware Acceleration in WebKit
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #7b7974;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
}

p{
  line-height: 2em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centered{
  width: 95%;
  margin: 0 auto;
  text-align: center;
}