
<footer>
  <div class="wrap">
    <div class="footerTop">
      <ul>
        <li>
          <ul class="links">
            <li><a target="_blank" href="http://chalkable.uservoice.com/">Feedback</a></li>
            <li><a href="mailto:attendance_standalone@chalkable.com">attendance@chalkable.com</a></li>
          </ul>

        <li>
          <ul class="address">
            <li>Chalkable</li>
            <li>500 7th Ave.</li>
            <li>17th Floor</li>
            <li>New York, NY 10018</li>
          </ul>

        <li>
          <ul class="socials">
            <li>
              <a target="_blank" href="https://twitter.com/chalkable">Follow us</a>
            </li>

            <li>
              <a target="_blank" href="https://www.facebook.com/chalkable">Like us</a>
            </li>

            <li>(800) 844-0884</li>
          </ul>
        </li>
      </ul>
    </div> <!-- /footerTop -->

    <div class="footerBottom">
      <p>&copy; <span id="year"></span> Chalkable, an STI company</p>
    </div>
  </div>
</footer>
