<footer >
  <div class="container">
    <ul>
      <li><a href="mailto:attendance_standalone@chalkable.com">attendance_standalone@chalkable.com</a></li>
      <li><a href="#0">Terms & Privacy</a></li>
    </ul>
    <p class="copyright">
      Copyright © Chalkable. All rights reserved.
    </p>
  </div>
</footer>


